

body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#username-form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

header {
    display: flex;
    background-color: lightgray;
    padding-left: 40%;
}

.body-container {
    display: flex;
    justify-content: space-between;
}

.chat-list {
    background-color: grey;
    flex: 0 0 30%;
    max-width: 30%;
    height: 95vh;
}  
.right-side {
    flex-grow: 1;
}

#messages {
    flex-grow: 1;
    top: 3rem;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
}

.group-members {
    background-color: grey;
    flex: 0 0 20%;
}


li {
    &.local, &.non-local {
        &.worker-1, &.worker-2, &.worker-3, &.worker-4, &.worker-5 {
            max-width: 60vw;
            overflow-wrap: break-word;
            padding: 8px 15px 8px 15px;
            margin-top: 4px;
            margin-bottom: 4px;
            color: black;
            font-size: 14px;
        }
    }
}


ul > .local {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    font-size: 12px;
    margin-right: 50px;
    align-self: flex-end;
}

ul > .non-local {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 20px;
    font-size: 12px;
    margin-left: 50px;
    align-self: flex-start;
}

ul > li.local.not-last-message {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

ul > li.non-local.not-last-message {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

ul > li.non-local.first-message, div > li.non-local.first-message {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 4px;
}

ul > li.local.first-message, div > li.local.first-message {
    margin-right: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.general {
    font-size: 12px;
    margin: 0;
    align-self: center;
}

.message-username {
    display: flex;
    align-items: center;
    margin: 0;
}


.local.message-username {
    margin-right: 4px;
}

.non-local.message-username {
    margin-left: 4px;
}


@keyframes bounce {
    from { transform: translateY(-2px); }
    to   { transform: translateY(2px); }
}

li {
    &.worker-1 {
        background-color: #99B898;
    }
    
    &.worker-2 {
        background-color: #FECEA8;
    }
    
    &.worker-3 {
        background-color: #FF847C;
    }
    
    &.worker-4 {
        background-color: #E84A5F;
    }
    
    &.worker-5 {
        background-color: #2A363B;
    }
    
}

ul > p {
    margin: 0;
}

#messages-form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 5vh;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#messages-input {
    width: 90%;
}

#messages-form > button {
    background-color: transparent;
    border: none;
}

.first-message-div {
    display: flex;
    align-items: center;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 7px;
    margin-right: 7px;
    border: solid 3px grey;
}

.first-message-div.local, .first-message-div.non-local {
    margin: 0;
    border-radius: 0;
}

.online {
    border: solid 3px rgb(52, 158, 52);
}

.typing {
    border: solid 3px rgb(58, 58, 163);
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.local.message-username {
    margin-right: 55px;
}

.non-local.message-username {
    margin-left: 55px;
}
